[Unit]
Description=Tide Gauge Service
After=network.target
After=network.target

[Service]
RestartSec=5s
User=pi
Group=pi
WorkingDirectory=/home/pi/tide/

ExecStart=/home/pi/tide/tide_client
Restart=on-failure

[Install]
WantedBy=multi-user.target