[Unit]
Description=Tide Gauge Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/tide/

ExecStart=/home/pi/tide/tide_client

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target