[Unit]
Description=Uart Tcp Forward Service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/tide

ExecStart=/home/pi/tide/uart-tcp-forward

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target