[Unit]
Description=Tide Gauge Service
After=network.target
After=network.target

[Service]
RestartSec=5s
User=YOUR OWN USER
Group=YOUR OWN GROUP
WorkingDirectory=/***YOUR OWN DIRECTORY**/

ExecStart=/**YOUR OWN DIRECTORY**/tide_server
Restart=on-failure

[Install]
WantedBy=multi-user.target